h2 {
  text-align: right;
  border-bottom: 1rem solid gray;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.page-content {
  display: flex;
  flex-direction: row;
}

.mainy {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
